.Deal{
    width: 100%;
    max-width: 1175px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.DealElement {
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.1s ease 0s;

    & img {
        height: 45px;
        width: 45px;
    }

    & p{
        font-size: 14px;
        width: 70%;
        text-align: center;
    }

    &:hover{
        transform: translateY(-5px);
        transition: 0.2s ease 0s;
        cursor: pointer;
    }
    
}