.CategoryList {

    background-color: white;
    margin-top: 20px;
    width: 1200px;

    & .CateElement{
        height: 150px;
        width: 120px;
        border: 1px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & img {
            height: 83px;
            width: 83px;
        }

        & p{
            font-size: 14px;
            width: 70%;
            text-align: center;
            text-transform: capitalize;
        }

        &:hover{
            cursor: pointer;
        }
    }

    
    
}