body{
    background-color: #f5f5f5;
}

%center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail{
    width: 1200px;
    margin-top: 140px;
    background-color: white;
    @extend %center;
    justify-content: space-between;
    padding: 25px;

    &__left{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 150px;
        
        & img {
            height: 450px;
            width: 450px;
            object-fit: cover;
        }

        &--listImage{
            width: 94%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            & img{
                height: 82px;
                width: 82px;
                object-fit: cover;
                border: 2px solid rgb(255, 255, 255);

                &:hover{
                    border: 2px solid rgb(251, 111, 36);
                }
            }
        }

        &--share{
            display: flex;
            width: 92%;
            justify-content: space-between;
            margin-top: 20px;

            & .share{
                @extend %center;

                & p{
                    margin: 0;
                    width: max-content;
                    font-size: 18px;
                } 

                & img{
                    object-fit: contain;
                    height: 25px;
                    background-color: yellow;
                    width: max-content;
                }
            }

            & .fav{
                display: flex;
                gap: 10px;

                & .heart{
                    color: rgb(255, 113, 19);
                    font-size: 18px;
                }

                & p{
                    font-size: 18px;
                }
            }
            
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;

        & .mall{
            height: 20px;
            margin-right: 10px;
        }

        & p{
            font-size: 20px;
            width: 100%;
        }
    

        & .listInfo{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            &__left{
                display: flex;
                width: 70%;
                justify-content: space-between;

                & .rate{
                    font-size: 18px;
                    text-decoration-line: underline;
                    display: flex;
                    gap: 10px;

                    & img{
                        height: 17px;
                    }
                }

                & .feed{
                    font-size: 18px;
                    color: #757B7E;
                    & span{
                        color: black;
                        text-decoration: underline;
                        margin-right: 10px;
                    }
                }

                & .sale{
                    font-size: 18px;
                    color: #757B7E;
                    & span{
                        color: black;
                        margin-right: 10px;
                    }
                }
            }

            &__right{
                & p{
                    font-size: 15px;
                    color: #757B7E;
                    width: max-content;
                }
            }
        }

        & .flash{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 100%;

            &__title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                width: 100%;
                background: linear-gradient(to right, rgb(238, 77, 45), rgb(255, 115, 55));
                color: white;
                padding: 10px;
                padding-inline: 20px;

                & p{
                    width: max-content;
                    text-transform: uppercase;
                    font-weight: 600;
                    
                    @extend %center;
                }

                & .clock{
                    font-size: 25px;
                    margin-right: 10px;

                }

                & .countDown{
                    display: flex;
                    gap: 10px;
                    margin-left: 20px;
                    & span{
                        padding-inline: 3px;
                        background-color: black;
                        color: white;
                        height: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-size: 15px;
                        border-radius: 3px;
                        font-weight: bold

                    }
                }
            }

            &__end{
                @extend %center;
                font-size: 20px;
            }

            & img{
                height: 20px;
            }

            &__price{
                background-color: #FAF2F0;
                width: 100%;
                padding: 20px;
                
                @extend %center;
                justify-content: start;

                & span {
                    color: #ee4d2d;
                    font-size: 35px;
                }

                & .dong{
                    color: #ee4d2d;
                    font-size: 25px;
                    text-decoration: underline;
                    margin-right: 20px;
                }

                & .price--inner{
                    display: flex;
                    gap: 5px;
                }

                & p{
                    color: #757B7E;
                    text-decoration: line-through;
                    display: flex;
                    width: max-content;
                    margin-right: 20px;

                    & .dong2{
                        font-size: 18px;
                        margin-left: 3px;
                    }
                }

                & .discount{
                    color: #ee4d2d;
                    background-color: #fedddd;
                    border-radius: 2px;
                }
            }
        }

        & .shipment{
            display: flex;
            gap: 40px;
            margin-top: 40px;

            & .title{
                color: #757B7E;
                text-transform: capitalize;
            }

            & img{
                height: 25px;
            }

            & .date{
                display: flex;
                flex-direction: column;
                gap: 15px;
            }

            &__info{
                display: flex;
                gap: 10px;
            }

            & .ship{
                color: #219797;
                font-size: 18px;
            }

            & .voucher{
                color: #757B7E;
            }
        }

        & .guaranty{
            display: flex;
            

            &__title{
                text-transform: capitalize;
                color: #757B7E;
                width:  100px;
            }

            & .process{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                margin-left: 30px;

                & span{
                    font-size: 16px;
                }

                #shield{
                    color: #ee4d2d;
                    font-size: 25px;
                }
            }
        }

        & .size{
            display: flex;
            margin-top: 50px;
            &__title{
                color: #757B7E
            }

            &__list{
                @extend %center;
                justify-content: start;
                margin-left: 100px;
                gap: 20px;
            }

            &__element{
                height: 40px;
                width: 80px;
                border: #d4d4d4 1px solid;
                position: relative;
                font-size: 13px;

                @extend %center;

                &:hover{
                    border: 1px solid #ee4d2d;
                    cursor: pointer;
                }
                    
            }
            
            & .active{
                border: 1px solid #ee4d2d;

                &::before{
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 0 21px 21px;
                    border-color: transparent transparent #FF4532 transparent;
                    transform: rotate(0deg);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }

                &::after{
                    content: "✓";
                    position: absolute;
                    bottom: 0;
                    right: 2px;

                    color: white;
                    font-size: 10px;

                }
            }
            
        }

        & .color{
            display: flex;
            margin-top: 50px;
            &__title{
                color: #757B7E
            }

            &__list{
                @extend %center;
                justify-content: start;
                margin-left: 70px;
                gap: 20px;
            }

            &__element{
                height: 40px;
                width: 80px;
                border: #d4d4d4 1px solid;
                position: relative;
                font-size: 13px;

                @extend %center;

                &:hover{
                    border: 1px solid #ee4d2d;
                    cursor: pointer;
                }
                    
            }
            
            & .active{
                border: 1px solid #ee4d2d;

                &::before{
                    content: "";
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 0 21px 21px;
                    border-color: transparent transparent #FF4532 transparent;
                    transform: rotate(0deg);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }

                &::after{
                    content: "✓";
                    position: absolute;
                    bottom: 0;
                    right: 2px;

                    color: white;
                    font-size: 10px;

                }
            }
            
        }

        & .quantity{
            @extend %center;
            justify-content: start;
            margin-top: 40px;

            &__title{
                color: #757B7E;
                margin-right: 60px;
            }

            &__adjust{
                display: flex;
            }

            & button{
                height: 35px;
                width: 35px;

                @extend %center;

                background-color: white;
                border: 1px solid #c0c0c0;
                color: #757B7E;
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }

                &:disabled{
                    color: #cacaca;
                    border: 1px solid #d9d9d9;

                    &:hover{
                        cursor: default;
                    }
                }

            }

            & input{
                @extend %center;

                background-color: white;
                border: 1px solid #c0c0c0;
                padding-left: 20px;
                width: 50px;
                color: #ee4d2d;
            }
        }

        & .buy{
            display: flex;
            gap: 20px;
            margin-top: 40px;

            & #addCart{
                background-color: #FFEEE8;
                border: 1px solid #ee4d2d;
                color: #ee4d2d;
                text-transform: capitalize;
                font-size: 15px;

                @extend %center;
                padding-block: 15px;
                padding-inline: 30px;

                & #cart{
                    font-size: 20px;
                    margin-right: 10px;
                }

                &:hover{
                    background-color: white;
                    cursor: pointer;
                }
            }

            & #buy{
                background-color: #ee4d2d;
                border: 1px solid #ff4f2c;
                color: white;
                text-transform: capitalize;
                font-size: 15px;
                font-weight: bold;

                @extend %center;
                padding-block: 15px;
                padding-inline: 40px;

                &:hover{
                    background-color: #ea6044;
                }
            }
        }
    }
}