.adver{
    display: flex;
    width: 100%;
    max-width: 900px;
    justify-content: center;
    align-items: center;

    margin-top: 160px;
    gap: 5px;
    &__1{
        img{
            height: 235px;
        }
    }

    &__2{
        img{
            height: 115px;
            margin-bottom: 5px;
        }

        display: flex;
        flex-direction: column;
    }
}